.h {
  text-transform: uppercase;
  margin-top: 120px;
 }

 .yellow-button {
  margin-bottom: 10px;
  background-color:#FCD232;
  color: black;
  font-weight: bold;
  margin-top: 15px;
  padding: 13px 25px;
 }

 .yellow-button:hover{
   background-color: black;
   color: #FCD232;
 }